@font-face {
  font-family: "Avelire";
  src: url("../fonts/AVELIRE.ttf") format("truetype");
}
@font-face {
  font-family: "Vogue";
  src: url("../fonts/Vogue.ttf") format("truetype");
}
@font-face {
  font-family: "Butler";
  src: url("../fonts/Butler_Medium_Stencil.otf") format("truetype");
}
/* Fonts */
.butler {
  font-family: "Butler", sans-serif;
}
.avelire {
  font-family: "Avelire", sans-serif;
}
.header {
  background-color: #182335;
  height: 60vh;
  display: flex;
  align-self: center;
  padding: 10px;
  margin: 0px;
  justify-content: space-evenly;
  gap: 5px;
}
.about {
  height: 25vh;
}
/* Portfolio area */
.portfolio {
  background-color: #eae4cc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.card {
  min-width: 400px;
  margin-top: 1rem;
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#182335;
}
.card-title {
  color: #E15546;
  text-align: center;
}
.card-text {
  color: #182335;
  text-align: justify;
}
.card-img {
  height: 150px;
  width: 150px;
}
.footer {
  background-color: #eae4cc;
}
.profile-intro {
  display: flex;
  align-items: center;
  gap: 30px;
}
.profile-bio {
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
}
.profile-pic {
  clip-path: circle();
  height: 75%;
}

@media (max-width: 1200px) {
  .profile-intro {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}

